<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="FileLoggingPath" value="C:\\Users\\Burak.Duygun\\OneDrive - Logo\\Desktop" />
		<add key="FileLoggingServiceName" value="MonitoringWindows" />
		<add key="FileLoggingLogLevel" value="Info" />
	</appSettings>
</configuration>